.champ-commentaire {
min-width: 100%;
min-height: 100px; 



}






.champ-commentaire .MuiOutlinedInput-root .MuiInputBase-input {
  font-style: italic;
}


/* Alternative plus spécifique si nécessaire */
.champ-commentaire .MuiOutlinedInput-root.Mui-disabled .MuiInputBase-input {
  font-style: italic;
  cursor: not-allowed;
}