
.datatable {
  border: none !important;
  box-shadow: none !important;
 
  
}

/* Styles spécifiques aux navigateurs basés sur WebKit */
.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-track {
  background-color: #F5F2EE !important;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb {
  background-color: #D4C7B5 !important;
  border-radius: 4px;
}

.MuiDataGrid-virtualScroller::-webkit-scrollbar-thumb:hover {
  background-color: #D4C7B5;
}

/* Règle de secours pour Firefox */
@supports not selector(::-webkit-scrollbar) {
  .MuiDataGrid-virtualScroller {
   
    scrollbar-color: #D4C7B5 #F5F2EE;
  }
}



.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders .MuiDataGrid-columnSeparator {
  display: none;
}

.MuiDataGrid-columnHeaderTitle {
  font-size:larger !important;
}

.th-cell {

color: #656565;


}

.MuiDataGrid-cell {
  font-weight: bold;
  font-size:larger;
}



.icone-datatable {

    font-size: 20px;
    
    
}

.icone-datatable-info {
    color: #D4C7B5;
}



/* Force l'affichage PERMANENT de toutes les icônes */
.MuiDataGrid-root .MuiDataGrid-menuIcon,
.MuiDataGrid-root .MuiDataGrid-iconButtonContainer {
  visibility: visible !important;
  width: auto !important;
  opacity: 1 !important;
}

/* Force le remplacement de l'icône native */
.MuiDataGrid-menuIcon .custom-menu-icon {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

/* Supprime le style par défaut */
.MuiDataGrid-menuIcon svg:not(.custom-menu-icon) {
  display: none !important;
}

/* Suppression totale du tooltip */
.MuiDataGrid-columnHeader .MuiDataGrid-menuIcon button[aria-label="Menu"] {
  position: relative !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-menuIcon button[aria-label="Menu"]::after,
.MuiDataGrid-columnHeader .MuiDataGrid-menuIcon button[aria-label="Menu"]::before,
.MuiTooltip-popper[role="tooltip"],
.css-3v9qdb-MuiTooltip-tooltip,
.css-o4ds0q-MuiPopper-root-MuiTooltip-popper {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  height: 0 !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0 !important;
}

.MuiDataGrid-root,
.MuiDataGrid-cell,
.MuiDataGrid-columnHeader,
.MuiDataGrid-row {
  border-color: transparent !important;
  --DataGrid-t-color-border-base: transparent !important;
  --DataGrid-rowBorderColor: transparent !important;
}

.MuiDataGrid-cell {
  border-top: none !important;
  border-bottom: none !important;
}
/*supprimer l'effet hover*/
.css-12tkar3-MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: #D4C7B5 !important;
}

