
.datatable {
  border: none !important;
  box-shadow: none !important;
  overflow-x: hidden !important;
  scrollbar-color: #D4C7B5 #F5F2EE;
  
}

.datatable .MuiDataGrid-virtualScroller {
  overflow-x: hidden !important;
}

.datatable .MuiDataGrid-virtualScroller::-webkit-scrollbar-button {
  display: none !important;
}

/* Cache totalement la scrollbar horizontale */
.datatable .MuiDataGrid-virtualScroller::-webkit-scrollbar {
  height: 0 !important;}


.MuiDataGrid-root .MuiDataGrid-columnHeader:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-cell:focus-within {
  outline: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  display: none;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders .MuiDataGrid-columnSeparator {
  display: none;
}

.MuiDataGrid-columnHeaderTitle {
  font-size:larger !important;
}

.th-cell-dropdown {
font-size: larger !important;
color: #656565;


}

.MuiDataGrid-cell {
  font-weight: bold;
  font-size:larger;
}



.icone-datatable {

    font-size: 20px;
    
}

.icone-datatable-info {
    color: #D4C7B5;
}