

.blocinfo-demande-texte .MuiOutlinedInput-root {
  height: 40px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  border: none !important;
  max-width: 100%; /* Empêche débordement */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blocinfo-demande-texte .MuiOutlinedInput-root fieldset {
  border: none !important;
}

.blocinfo-demande-texte .MuiOutlinedInput-root fieldset legend {
  display: none;
}

.blocinfo-demande-texte .MuiInputLabel-root {
  display: none;
}

.blocinfo-demande-texte .MuiSelect-root,
.blocinfo-demande-texte .MuiSelect-select {
  height: 40px;
  line-height: 40px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*suppression du bouton d'incrémentation au survol de la zone de saise dans le champ textfiled de type number */

 input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

   input[type="number"] {
    -moz-appearance: textfield;
  }



.date-infodemande .css-1umw9bq-MuiSvgIcon-root {

  color: #D4C7B5 !important;
 
}



.date-infodemande .css-15395ss-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {

  color: #656565 !important;
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 16x !important;
}





.date-infodemande .css-ni0mq9-MuiFormControl-root-MuiPickersTextField-root .css-ni0mq9-MuiFormControl-root-MuiPickersTextField-root .css-ni0mq9-MuiFormControl-root-MuiPickersTextField-root{

background-color: red !important;
}