/* Conteneur principal des questions + réponses */
.info-demande {
  
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;

}

/* Style de chaque bloc de question + réponses */
.container-demande {
  display: flex;
  flex-direction: column; /* La question et les réponses sont empilées verticalement */

   
}




/* Style pour les réponses */
.container-demande-2 {
  display: flex;
  gap: 10px;  /* Espacement entre les réponses */
  
}

/* Style de chaque réponse */
.reponse-option {
   
  padding: 8px;
  color: #D4C7B5;
  border:1px solid #D4C7B5;
  flex-shrink: 0;
  white-space: nowrap;
}

.reponse-option:hover  {
  padding: 8px;
  background-color:#D4C7B5;
  color: white;
}