.container-gestion-compte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1920px;
    background-color: white;
    
}


.titre-gestion-compte {
    display:flex;
    color: #D4C7B5;
    text-transform: uppercase;
    margin: 62px;
    font-size: 25px;
    font-weight: 500;

}
.container-infos {

    display: flex;
    color: #656565;
    
}



.info-admin-gestion-compte {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.titre-info-admin-gestion-compte {

    display:flex;
    color: #D4C7B5;
    text-transform: uppercase;
    font-weight: 500 ;
}

.info-admin {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;

}

.container-infos {
    display: flex;
    flex-direction:column;
    margin: 42px;
}
.container-infos-1 {
    font-weight: 500 !important;
}
.container-infos-2 {
    background-color: #F5F2EE;
    padding: 8px;
    width: 100%;
     display: flex 

}




.info-utilisateur-gestion-compte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titre-info-utilisateur-gestion-compte{

    display:flex;
    color: #D4C7B5;
    text-transform: uppercase;
    font-weight: 500 ;
}

